.fp{
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    gap: 10px;
}

.fpItem{
    display: flex;
    flex-direction: column;
}

.fpImg{
    width: 100%;
}

.fpName{
    font-weight: bold;
}

.fpCity{
    font-weight: 300;
}

.fpPrice{
    font-weight: 500;
}

.fpRating>button{
    background-color: #003580;
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 10px;
    padding: 3px;
}

.fpRating>span{
    font-size: 14px;
    color: grey;
}